<style>
    table {
      width: 70%;
      margin: 20px auto;
      border-collapse: collapse;
    }
    th, td {
      border: 1px solid #888;
      padding: 10px;
      text-align: left;
    }
    th {
      background-color: #f4f4f4;
    }
  </style>

<%- contentFor('content_header') %>



<%- contentFor('content') %>


</head>
<body>
  <h2 style="text-align: center;">Academic Calendar (2025)</h2>
  <table>
    <tr>
      <th>S. No</th>
      <th>Description</th>
      <th>Date</th>
    </tr>
    <% acad_cal.forEach(function(row) { %>
      <tr>
        <td><%= row.S_No %></td>
        <td><%= row.Description %></td>
        <td><%= row.Date %></td>
      </tr>
    <% }); %>
  </table>


